.hero{
    background: url("assets/Intersect.png") no-repeat;
    background-size: contain;
    background-position: right top;
    background-color: #FFD699;
}

.vr{
    opacity: 100%;
    width: 2px;
    height: 25px;
    align-items: center;
}
.active{
    border-bottom: #ED8E00 solid 3px;
}